* {
    box-sizing: border-box;
    border-color: black;
    background-color: #F3CEA1;
    
}

body {
    font-family: 'Newsreader', serif;
    padding: 30px;
}

.brand{
    font-family: Snell Roundhand;
    font-weight: normal;
    font-size: 60px;
    text-align: center;
}

.brand-header {
    grid-area: header;

}

@keyframes spin {
    to {    
        transform: rotateY(80deg);
    }
}

.brand-header {
    animation: spin 1.5s infinite linear
    
}

.nav-links {
    grid-area: nav;
}

.story-1-Community{
    grid-area: story-1-Community;
}

.story-2-Politics{
    grid-area: story-2-Politics;
}

.story-3-Sports{
    grid-area: story-3-Sports;
}

.story-4-Entertainment{
    grid-area: story-4-Entertainment;
}

.story-5-Classifieds{
    grid-area: story-5-Classifieds;
}

.page {
    display: grid ;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "story-1-Community story-2-Politics story-3-Sports"
    "story-4-Entertainment story-5-Classifieds story-5-Classifieds";
}

.article-title {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: 1px solid black;
    margin: 0;
    padding: 30px;
}

.story {
    padding: 10px;
    border-left: 3px solid black;
    border-right: 3px solid black;;
    border-bottom: 3px solid black; 

}

.section-link {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
}

.section-link:hover {
    text-decoration: underline;
}
